* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #222;
  color: #fff;
}

#logo img{
    height: 40px;
}

#navbar {
    padding: 1.2em 1.4em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    border-bottom: 1px solid #f6982d;
}